*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    padding: 0px;
    background-color: whitesmoke;
    color: black;

}

header{
    margin: 0px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    background-color: #192a19;
    height: 50px;
    color: white;

}

header h1{
    font-weight: normal;

}

.sidenav{
    border-right: 2px solid white;
    padding:0px;
    display:inline;
    width:30%;

}

ul{
    list-style-type: none;
    padding:0px;

}

a{
    color: black;
    font-style: normal;
    text-decoration: none;

}

.content{
    width:70%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color:black;
    display: block;
    margin:auto;
    text-align:left;
    padding: 10px;

}

section{
    text-align: center;

}

div h1{
    text-align: left;
    font-size: 400%;

}

.explaining{
    background-color: #8c8c8c;
    padding:5px;
    margin: 5px;
    border-radius: 10px;
    line-height: 200%;

}

.code{
    display: block;
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid #006600;

}

.user{
    color: #808080;
    
}

